<a href="https://colab.research.google.com/github/4bic/mzalendo-wrangler/blob/master/mzalendo_ke_legislators_wrangler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set up Essentials

In [0]:
from google.colab import drive , files
import os, os.path
import pandas as pd
from pandas.io.json import json_normalize 
import json
import requests

## **Mount Drive and Operate from within said folder**

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
%cd /content/drive/'My Drive'/Colab_Notebooks/mzalendo

/content/drive/My Drive/Colab_Notebooks/mzalendo

In [0]:
persons = "http://info.mzalendo.com/media_root/popolo_json/persons.json"
organization = "http://info.mzalendo.com/media_root/popolo_json/organizations.json"
memberships = "http://info.mzalendo.com/media_root/popolo_json/memberships.json"
pombola = "http://info.mzalendo.com/media_root/popolo_json/memberships.json"
candidates = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTR3hgRnOrPi6Opkr3Z622_onNYEtzds51TxqS1-VBEcDqP8O0nLjr1XwRkQYCGLrusNL6nJLyxtQbe/pub?gid=671749755&single=true&output=csv"
elected = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTR3hgRnOrPi6Opkr3Z622_onNYEtzds51TxqS1-VBEcDqP8O0nLjr1XwRkQYCGLrusNL6nJLyxtQbe/pub?gid=655626479&single=true&output=csv"

## Work from file with nested jsons'

In [0]:
with open(pombola) as data_file:    
    data = json.load(data_file) 

# data = json_normalize("pombola.json")

In [0]:
df = json_normalize(data)

In [0]:
df.head()

                                               areas  ... posts
0  [{'area_type': 'CON', 'id': 'mapit:4812', 'ide...  ...    []

[1 rows x 5 columns]

In [0]:
df.columns

Index(['areas', 'events', 'organizations', 'persons', 'posts'], dtype='object')

In [0]:
len(df['persons'][0])

13267

In [0]:
df_P = pd.DataFrame(df['persons'][0])

In [0]:
df_P.head(3)

  contact_details                id  ... honorific_suffix honorific_prefix
0              []  core_person:7848  ...              NaN              NaN
1              []  core_person:8251  ...              NaN              NaN
2              []  core_person:4435  ...              NaN              NaN

[3 rows x 19 columns]

## Collect All Candidates data