# Set up Essentials

In [0]:
from google.colab import drive , files
import os, os.path
import pandas as pd
from pandas.io.json import json_normalize 
import json
import requests
import numpy as np

## **Mount Drive and Operate from within said folder**

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [4]:
%cd /content/drive/'My Drive'/Colab_Notebooks/mzalendo

/content/drive/My Drive/Colab_Notebooks/mzalendo

In [0]:
persons = "http://info.mzalendo.com/media_root/popolo_json/persons.json"
organization = "http://info.mzalendo.com/media_root/popolo_json/organizations.json"
memberships = "http://info.mzalendo.com/media_root/popolo_json/memberships.json"
pombola = "http://info.mzalendo.com/media_root/popolo_json/memberships.json"
candidates = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTR3hgRnOrPi6Opkr3Z622_onNYEtzds51TxqS1-VBEcDqP8O0nLjr1XwRkQYCGLrusNL6nJLyxtQbe/pub?gid=671749755&single=true&output=csv"
elected = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTR3hgRnOrPi6Opkr3Z622_onNYEtzds51TxqS1-VBEcDqP8O0nLjr1XwRkQYCGLrusNL6nJLyxtQbe/pub?gid=655626479&single=true&output=csv"

## Work from file with nested jsons'

In [0]:
with open(pombola) as data_file:    
    data = json.load(data_file) 

# data = json_normalize("pombola.json")

In [0]:
df = json_normalize(data)

In [0]:
df.head()

                                               areas  ... posts
0  [{'area_type': 'CON', 'id': 'mapit:4812', 'ide...  ...    []

[1 rows x 5 columns]

In [0]:
df.columns

Index(['areas', 'events', 'organizations', 'persons', 'posts'], dtype='object')

In [0]:
len(df['persons'][0])

13267

In [0]:
df_P = pd.DataFrame(df['persons'][0])

In [0]:
df_P.head(3)

  contact_details                id  ... honorific_suffix honorific_prefix
0              []  core_person:7848  ...              NaN              NaN
1              []  core_person:8251  ...              NaN              NaN
2              []  core_person:4435  ...              NaN              NaN

[3 rows x 19 columns]

## Collect All Candidates data

In [0]:
all = pd.read_csv(candidates)
elected = pd.read_csv(elected)

In [0]:
all.head(3)

                        name                    party  ... ward ward-id
0  JOHN EKURU LONGOGGY AUKOT  THIRDWAY ALLIANCE KENYA  ...  NaN     NaN
1        MOHAMED ABDUBA DIDA  ALLIANCE FOR REALCHANGE  ...  NaN     NaN
2    SHAKHALAGA KHWA JIRONGO  UNITED DEMOCRATIC PARTY  ...  NaN     NaN

[3 rows x 12 columns]

In [0]:
all.shape

(14758, 12)

## Isolate Elected legislators

In [0]:
all['elected'] = np.where(all['name'].isin(elected['name'].str.upper()),"elected-2017", "not-elected")

In [0]:
all.head(3)

                        name                    party  ... ward-id      elected
0  JOHN EKURU LONGOGGY AUKOT  THIRDWAY ALLIANCE KENYA  ...     NaN  not-elected
1        MOHAMED ABDUBA DIDA  ALLIANCE FOR REALCHANGE  ...     NaN  not-elected
2    SHAKHALAGA KHWA JIRONGO  UNITED DEMOCRATIC PARTY  ...     NaN  not-elected

[3 rows x 13 columns]

In [0]:
# all.to_csv("./ke_legislators.csv")

# Persons Section

Access the json file

In [0]:
data_p = pd.read_json(persons)

In [0]:
data_p.head(3)

                _id contact_details  ... honorific_suffix honorific_prefix
0  core_person:7848              []  ...              NaN              NaN
1  core_person:8251              []  ...              NaN              NaN
2  core_person:4435              []  ...              NaN              NaN

[3 rows x 19 columns]

In [0]:
p_columns = ['id', 'name','contact_details', 'images', 'birth_date', 'gender', 'death_date',
             'summary', 'email', 'biography', 'national_identity']

data_p = data_p[p_columns]

In [0]:
data_p.head(3)

     id                   name  ... national_identity phone
0  7848  Abbey Gedow Abdikadir  ...               NaN  None
1  8251          Al Amin Ahmed  ...               NaN  None
2  4435         Abdi Ahmed Ali  ...               NaN  None

[3 rows x 12 columns]

Clean up *id* and *images*  columns

In [0]:
def clean_id(x):
  if pd.notnull(x):
    id = x.split(":")[1]
    return id

def get_img_url(x):
  if pd.notnull(x):
    url = x[0].get('url')
    return url

get emails from contacts columns

In [0]:
def get_email(x):
  for i in x:
    contacts_type = i.get('type')
    if contacts_type == "email":
      email = i.get('value')
      return email

def get_phone(x):
  for i in x:
    contacts_type = i.get('type')
    if contacts_type == "phone":
      phone = i.get('value')
      return phone

def get_address(x):
  for i in x:
    contacts_type = i.get('type')
    if contacts_type == "address":
      address = i.get('value')
      return address

In [0]:
# data_p.to_csv('ke_persons.csv')

In [0]:
# Access the ID's only
data_p['id'] = data_p['id'].apply(lambda x: clean_id(x))
# get url from dictionary
data_p['images'] = data_p['images'].apply(lambda x: get_img_url(x))
# add email
data_p['email'] = data_p['contact_details'].apply(lambda x: get_email(x)  )
# add phone no.'s
data_p['phone'] = data_p['contact_details'].apply(lambda x: get_phone(x)  )

# Organizations Section

In [0]:
data_org = pd.read_json(organization)
data_org.head(3)

                      _id category  ... founding_date dissolution_date
0  core_organisation:2471    other  ...           NaN              NaN
1  core_organisation:2472    other  ...           NaN              NaN
2  core_organisation:2475    other  ...           NaN              NaN

[3 rows x 10 columns]

In [0]:
org_columns = ['id','name', 'category', 'classification','contact_details',
               'founding_date', 'dissolution_date']
data_org = data_org[org_columns]
data_org.head(3)

                       id  ... dissolution_date
0  core_organisation:2471  ...              NaN
1  core_organisation:2472  ...              NaN
2  core_organisation:2475  ...              NaN

[3 rows x 7 columns]

Clean columns

In [0]:

# Access the ID's only
data_org['id'] = data_org['id'].apply(lambda x: clean_id(x))
# add email
data_org['email'] = data_org['contact_details'].apply(lambda x: get_email(x)  )
# add phone no.'s
data_org['phone'] = data_org['contact_details'].apply(lambda x: get_phone(x)  )
# add addreses
data_org['address'] = data_org['contact_details'].apply(lambda x: get_address(x)  )


data_org.head(3)

     id                           name category  ... email phone address
0  2471          Coffee Board of Kenya    other  ...  None  None    None
1  2472  Aberdare Spa and Safari Lodge    other  ...  None  None    None
2  2475              Co-Operative Bank    other  ...  None  None    None

[3 rows x 10 columns]

In [0]:
# data_org.to_csv('KE_mzalendo_organizations.csv')

# Memberships

In [8]:
data_mb = pd.read_json(memberships)

data_mb.head(3)

                   _id  area  ...  start_date legislative_period_id
0  core_position:20499  None  ...  2013-02-08                   NaN
1  core_position:20498   NaN  ...  2013-02-08                   NaN
2  core_position:29626   NaN  ...  2013-02-13                   NaN

[3 rows x 10 columns]

In [10]:
len(data_mb)

44330

In [0]:
# clean Pos ID's 
data_mb['id'] = data_mb['id'].apply(lambda x: clean_id(x))
# org ID
data_mb['organization_id'] = data_mb['organization_id'].apply(lambda x: clean_id(x))
# person's ID
data_mb['person_id'] = data_mb['person_id'].apply(lambda x: clean_id(x))

In [0]:
mb_columns = ['id','organization_id','person_id','role','area', 
                   'end_date','start_date','identifiers','legislative_period_id']

data_mb = data_mb[mb_columns]

In [13]:
data_mb.head(3)

      id  ... legislative_period_id
0  20499  ...                   NaN
1  20498  ...                   NaN
2  29626  ...                   NaN

[3 rows x 9 columns]

Define Memberships regions by 'Name' and 'Region-Type'

In [0]:
def get_region(x):
  if pd.notnull(x):
    region = x['name']
    return region

def get_area_type(x):
  if pd.notnull(x):
    area_type = x['area_type']
    return area_type

def get_term(x):
  if pd.notnull(x):
    term = x['session']['slug']
    return term

In [0]:
# data_mb.to_csv('ke_mzalendo_memberships.csv')

In [14]:
data_mb['area'][44320]

{'area_type': 'DIS',
 'id': 'mapit:5038',
 'identifier': 'http://info.mzalendo.com/mapit/area/5038',
 'name': 'Nyandarua',
 'session': {'end_date': '2017-07-16',
  'id': 3,
  'mapit_generation': 3,
  'name': 'Senate 2013-2017',
  'slug': 's2013',
  'start_date': '2013-03-05'}}